.form {
  height: 150px;
  width: 245px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 2px solid black;
}
.inputs {
  border: 1px solid black;
  background-color: gray;
}
.check {
  width: 20px;
  height: 50px;
}
